# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
coverage/
data/mailpit*

.netlify/
report/.worktrees
report/**
.claude/agents
.claude/commands
.claude/settings.json
.bash_profile
.bashrc
.gitconfig
.gitmodules
.mcp.json
.profile
.ripgreprc
.zprofile
.zshrc
config
HEAD
hooks
objects
refs
